.App{
   flex-wrap: nowrap;
   width: 100%;
   height: 100vh;
   margin: auto;
}.text{
    display: flex;
    justify-content: center;
    outline: none;
    height: 5%;
}
input{
    padding: 20px;
    border-radius: 10px ;
    border: solid black; 
}
body{
    margin: 0;
    overflow: hidden;
}
